* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #0d101e;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
}
header {
  margin-bottom: 50px;
}
.container {
  max-width: 1024px;
  height: auto;
  margin: 0px auto;
}
header .child-container {
  width: 77%;
  margin: 0px auto;
}
header h1 {
  font-size: 97px;
  font-weight: 500;
}
header p {
  color: #8c8c8c;
  font-size: 20px;
}
header button {
  background-color: #3485e4;
  color: white;
  margin: 25px;
  padding: 20px 30px;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: large;
}
video {
  border-radius: 20px;
  border: 5px solid grey;
  box-shadow: 0px 0px 50px 0px rgba(86, 82, 82, 0.5);
  width: 100%;
  max-width: 1024px;
}
/* ending heading */
/* starting features */
.features {
  display: block;
  text-align: center;
  margin: 10px auto;
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin-bottom: 30px;
  transition: all 0.3s;
}
.features h2 {
  font-size: 67px;
  font-weight: 500;
}
.boxes {
  width: auto;
  margin: auto;
}
.box {
  left: 5px;
  margin: 30px;
  max-width: 250px;
  height: 270px;
  border: 1px solid rgba(0, 151, 251, 0.15);
  float: left;
  text-align: left;
  background-color: #202330;
  border-radius: 10px;
  transition: all 0.3s;
}
.box:hover {
  border-color: #73c4fa;
  background-color: #121827;
  box-shadow: 0px 0px 10px 0px #3485e4;
  transform: translate(-0px, -5px);
}
.animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 1300px;
}
.animation:hover {
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

@keyframes hover {
  0% {
    left: 5px;
    margin: 30px;
    max-width: 250px;
    height: 270px;
    border: 1px solid rgba(0, 151, 251, 0.15);
    float: left;
    text-align: left;
    background-color: #202330;
    border-radius: 10px;
  }
  50% {
    transition: 0.3s;
    border-color: #73c4fa;
    background-color: #121827;
    box-shadow: 0px 0px 10px 0px #3485e4;
    transform: translate(-0px, -5px);
  }
  100% {
    left: 5px;
    margin: 30px;
    max-width: 250px;
    height: 270px;
    border: 1px solid rgba(0, 151, 251, 0.15);
    float: left;
    text-align: left;
    background-color: #202330;
    border-radius: 10px;
  }
}
.box-title {
  font-weight: 500;
  font-size: 20px;
}
.box i {
  margin: 20px;
  transform: scale(1);
  color: #3485e4;
}
.box p {
  margin: 20px;
}
/* ending features */
hr {
  width: 100%;
  opacity: 0;
}
/* starting  */
/* .Multiplayer{
  margin-top: 30px;
  text-align: center; 
  width: 1024px;
}
.Multiplayer article{
  width: 50%;
  float: left;
  border:1px solid white;
  height:510px;
  position: relative;
} 
.Multiplayer img{
  width: 50%;
  border:1px solid white;
  float: right;
}
.Multiplayer span{
  color: grey;
  float: left;
  font-size: large;
  bottom: 30px;
}
.Multiplayer h3{
  position: absolute;
  top: 25px;
  font-size: 47px;
  font-weight: 500;
  float: left;
  text-shadow: 0px 0px 50px  rgba(255, 255, 255, 0.5);
}
.Multiplayer p{
  position: absolute;
  top: 90px;
} */
.Multiplayer {
  text-align: left;
  width: 100%;
  max-width: 1263px;
  margin: 20px auto;
}
.Multiplayer img {
  width: 50%;
  float: right;
  transform: scale(0.8);
}
.Multiplayer article {
  width: 50%;
  float: left;
  /* margin-top: 160px; */
  transform: scale(0.8);
}
.Multiplayer article .content {
  padding-bottom: 214px;
}

.Multiplayer .content span {
  color: grey;
  font-size: 25px;
  padding: 40px;
  font-weight: 500;
}
.Multiplayer .content h3 {
  font-size: 67px;
  font-weight: 500;
  text-shadow: 0px 0px 100px rgb(0, 119, 255);
  padding: 40px;
}
.Multiplayer .content p {
  color: #a7a8ad;
  padding: 40px;
  text-align: justify;
  font-size: large;
  line-height: 1.5;
}
.Multiplayer strong {
  color: white;
  font-weight: 700;
}
.Multiplayer a {
  color: #3485e4;
  text-decoration: none;
  font-weight: bold;
  padding: 40px;
}
/* ending multiplayer */
/* starting Community */

.Community {
  text-align: left;
  width: 100%;
  max-width: 1263px;
  margin: 20px auto;
}
.Community img {
  width: 50%;
  float: left;
  transform: scale(0.8);
}
.Community article {
  width: 50%;
  float: right;
  margin-top: 160px;
  transform: scale(0.8);
}
.Community article .content {
  padding-bottom: 214px;
}

.Community .content span {
  color: grey;
  font-size: 25px;
  padding: 0px 0;
  font-weight: 500;
}
.Community .content h3 {
  font-size: 67px;
  font-weight: 500;
  text-shadow: 0px 0px 100px rgb(0, 119, 255);
  padding: 40px 0;
}
.Community .content p {
  color: #a7a8ad;
  padding: 40px 0;
  text-align: justify;
  font-size: large;
  line-height: 1.5;
}
.Community strong {
  color: white;
  font-weight: 700;
}
.Community a {
  color: #3485e4;
  text-decoration: none;
  font-weight: bold;
  padding: 40px 0;
}
/* ending Community */
/* starting Teams */

.Teams {
  text-align: left;
  width: 100%;
  max-width: 1263px;
  margin: 20px auto;
}
.Teams img {
  width: 50%;
  float: right;
  transform: scale(0.8);
}
.Teams article {
  width: 50%;
  float: left;
  margin-top: 160px;
  transform: scale(0.8);
}
.Teams article .content {
  padding-bottom: 214px;
}

.Teams .content span {
  color: grey;
  font-size: 25px;
  padding: 40px;
  font-weight: 500;
}
.Teams .content h3 {
  font-size: 67px;
  font-weight: 500;
  text-shadow: 0px 0px 100px rgb(0, 119, 255);
  padding: 40px;
}
.Teams .content p {
  color: #a7a8ad;
  padding: 40px;
  text-align: justify;
  font-size: large;
  line-height: 1.5;
}
.Teams strong {
  color: white;
  font-weight: 700;
}
.Teams a {
  color: #3485e4;
  text-decoration: none;
  font-weight: bold;
  padding: 40px;
}
/* ending Teames */

/* width < 950px */
@media only screen and (max-width: 950px) {
  body {
    width: 100%;
  }

  .container {
    margin: 0px auto;
  }
  header h1 {
    font-size: 57px;
    text-align: center;
  }
  header p {
    font-size: large;
    text-align: center;
  }
  video {
    max-width: 100%;
    height: auto;
  }
  .features {
    display: block;
    text-align: center;
    margin: 10px auto;
    position: relative;
    max-width: 100%;
    margin-bottom: 30px;
    transition: all 0.3s;
  }
  .features .boxes {
    margin: 0px auto;
    width: 100%;
    /* height: 1080px;
    z-index: 999; */
  }
  .features .boxes {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
  }
  .features h2 {
    font-size: 47px;
  }
  .box {
    left: 5px;
    max-width: 100%;
    height: 270px;
    border: 1px solid rgba(0, 151, 251, 0.15);
    text-align: left;
    background-color: #202330;
    border-radius: 10px;
    transition: all 0.3s;
    margin-left: 2%;
  }
  /* section img{
    float: left;
    width: 100%;
    height: auto;
  }
  section article{
    float: left;
    width: 100%;

  } */
  .Multiplayer {
    text-align: left;
    margin: 20px auto;
    width: 100%;
  }
  .Multiplayer img {
    width: 100%;
    height: auto;
    float: left;
  }
  .Multiplayer article {
    width: 100%;
    float: left;
  }
  .Multiplayer .content {
    width: 100%;
  }
  .Community {
    text-align: left;
    margin: 20px auto;
    width: 100%;
  }
  .Community img {
    width: 100%;
    height: auto;
    float: left;
  }
  .Community article {
    width: 100%;
    float: left;
  }
  .Teams {
    text-align: left;
    margin: 20px auto;
    width: 100%;
  }
  .Teams img {
    width: 100%;
    height: auto;
    float: left;
  }
  .Teams article {
    width: 100%;
    float: left;
  }
  .container {
    height: auto;
    margin: 0px auto;
  }

  .features .box{
    height:auto;

  }
  .box-title {
    font-weight: 500;
    font-size: 20px;
  }
  .box i {
    margin: 20px 20px 0px 20px;
    transform: scale(1);
    color: #3485e4;
  }
  .box p {
    margin: 10px;
  }
}
@media only screen and (max-width: 610px) {
  header h1 {
    font-size: 47px;
    font-weight: 500;
  }
}@media only screen and (max-width: 575px) {
  header h1 {
    font-size: 47px;
    font-weight: 500;
  }
  .features h2 {
    font-size: 47px;
  }
  .Community .content h3 {
    font-size: 47px;
  }  .Multiplayer .content h3 {
    font-size: 47px;
  }  .Teams .content h3 {
    font-size: 47px;
  }
}